@font-face {
  font-family: 'Franklin Gothic Book';
  src: url('//grrawr.com/f/franklin_gothic_book.eot');
  src: url('//grrawr.com/f/franklin_gothic_book.eot?#iefix') format('embedded-opentype'),
       url('//grrawr.com/f/franklin_gothic_book.svg#Franklin Gothic Book') format('svg'),
       url('//grrawr.com/f/franklin_gothic_book.woff') format('woff'),
       url('//grrawr.com/f/franklin_gothic_book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Franklin Gothic Heavy';
  src: url('//grrawr.com/f/franklin_gothic_heavy.eot');
  src: url('//grrawr.com/f/franklin_gothic_heavy.eot?#iefix') format('embedded-opentype'),
       url('//grrawr.com/f/franklin_gothic_heavy.svg#Franklin Gothic Heavy') format('svg'),
       url('//grrawr.com/f/franklin_gothic_heavy.woff') format('woff'),
       url('//grrawr.com/f/franklin_gothic_heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  color: #333;
  font-family: 'Franklin Gothic Book', 'helvetica neue', helvetica, sans-serif;
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:visited {
  color: #03a6df;
}
p {
  font-size: 24px;
}
.axis-logo {
  float: left;
}
.axis-logo img {
  width: 226px;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.header {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 20px;
}
.header h1 {
  font-family: 'Franklin Gothic Heavy', 'helvetica neue', helvetica, sans-serif;
  font-size: 24px;
  margin: 0 0 0 380px;
}
.header h1 a, .header h1 a:visited {
  color: #000;
  text-decoration: none;
}
.hero {
  background-image: url('images/PhillyCityHall.png');
  background-size: cover;
  padding: 270px 0 200px;
  position: relative;
}
.hero .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 21px;
  margin: 0 auto;
  padding: 30px 40px;
  width: 640px;
}
.hero .overlay h2 {
  font-family: 'Franklin Gothic Heavy', 'helvetica neue', helvetica, sans-serif;
  font-size: 36px;
}
.hero .overlay a, .hero .overlay a:visited {
  color: #03a6df;
}
.controls {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 40px;
}
.controls p {
  margin: 0 0 30px 0;
}
.search {
  margin: 0 0 40px 0;
}
.search input {
  background-color: #fde8a6;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: #333;
  font-family: 'Franklin Gothic Book', 'helvetica neue', helvetica, sans-serif;
  font-size: 24px;
  padding: 5px 10px;
  width: 100%;
}
.facets {
  background: url('images/columnback.png') repeat-y 50% 0;
  color: #fff;
  margin: 30px -5px 20px -5px;
  overflow: hidden;
  padding: 0 0 15px 0;
}
.facets a, .facets a:visited {
  color: #fff;
}
.facets h2 {
  background-color: #106791;
  font-family: 'Franklin Gothic Heavy', 'helvetica neue', helvetica, sans-serif;
  font-size: 24px;
  margin: 0 0 5px 0;
  padding: 5px 15px;
}
.facets ul {
  padding: 10px 15px;
}
.facets li {
  margin: 0 0 0 1em;
  text-indent: -1em;
}
.facet {
  float: left;
  font-size: 24px;
  margin: 0 5px;
  width: 366px;
}
.count {
  font-size: 24px;
  margin: 0 auto;
  padding: 20px 0;
  width: 1118px;
}
.count-results {
  color: #e02a3f;
  font-family: 'Franklin Gothic Heavy', 'helvetica neue', helvetica, sans-serif;
}
.sort {
  font-size: 24px;
  margin: 20px auto;
  padding: 0 0 3px 0;
  width: 1118px;
}
.results {
  margin: 0 auto;
  padding: 0 0 30px 0;
  width: 1118px;
}
.record {
  line-height: 1.4em;
  padding: 20px 15px 20px 150px;
  position: relative;
}
.record .headshot {
  left: 15px;
  position: absolute;
  top: 25px;
}
.record .index {
  bottom: 20px;
  color: #999;
  font-size: 16px;
  left: 15px;
  position: absolute;
}
.record .label {
  font-family: 'Franklin Gothic Heavy', 'helvetica neue', helvetica, sans-serif;
}
.record .id {
  display: none;
}
.record:nth-child(odd) {
  background-color: #eee;
  border: 1px solid #ccc;
}

/* See http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css */
::-webkit-input-placeholder { /* WebKit browsers */
  color: #666;
  font-family: 'Franklin Gothic Book', 'helvetica neue', helvetica, sans-serif;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #666;
  font-family: 'Franklin Gothic Book', 'helvetica neue', helvetica, sans-serif;
  font-size: 24px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #666;
  font-family: 'Franklin Gothic Book', 'helvetica neue', helvetica, sans-serif;
  font-size: 24px;
}

